
<!DOCTYPE html>

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	</head>
	<body>
	kkkk
	<embed src="helloworld.swf" />

	<object id="CuPlayerVideo_video_object" width="950" height="580" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
		<param name="movie" value="http://wwww.ssss82.com/swf/HLSplayer.swf?v=1.5">
		<param name="flashvars" value="netstreambasepath=http%3A%2F%2Flocalhost%3A81%2FHLSprovider%2Fjwplayer5%2Findex58011.html
&amp;id=player&amp;hls_debug=false&amp;hls_debug2=false&amp;hls_lowbufferlength=3&amp;hls_minbufferlength=-1&amp;hls_maxbufferlength=60
&amp;hls_startfromlowestlevel=true&amp;hls_seekfromlowestlevel=true&amp;hls_live_flushurlcache=false&amp;hls_live_seekdurationthreshold=60&amp;
hls_seekmode=ACCURATE&amp;provider=/swf/HLS.swf&amp;file=http://107.167.9.200:8011/B0404/d160/d160.m3u8&amp;qualitymonitor.pluginmode=FLASH&amp;
controlbar.position=over&amp;image=http://wwww.ssss82.com/pic/0404/865so561.jpg">
		<param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always">
		<embed id="CuPlayerVideo_video_embed" src="http://wwww.ssss82.com/swf/HLSplayer.swf?v=1.5" autostart="true" type="application/x-shockwave-flash"
			   allowscriptaccess="always" allowfullscreen="true" width="950" height="580"
			   flashvars="netstreambasepath=http%3A%2F%2Flocalhost%3A81%2FHLSprovider%2Fjwplayer5%2Findex58011.html&amp;
			   id=player&amp;hls_debug=false&amp;hls_debug2=false&amp;hls_lowbufferlength=3&amp;hls_minbufferlength=-1
&amp;hls_maxbufferlength=60&amp;hls_startfromlowestlevel=true&amp;hls_seekfromlowestlevel=true&amp;hls_live_flushurlcache=false
&amp;hls_live_seekdurationthreshold=60&amp;hls_seekmode=ACCURATE&amp;provider=http://wwww.ssss82.com/swf/HLS.swf&amp;file=
http://107.167.9.200:8011/B0404/d160/d160.m3u8
&amp;qualitymonitor.pluginmode=FLASH&amp;controlbar.position=over&amp;image=http://wwww.ssss82.com/pic/0404/865so561.jpg">
	</object>
kkk<a href="http://107.167.9.200:8011/B0404/d160/d160.m3u8">ssss</a>
	<img src="http://wwww.ssss82.com/pic/0404/865so561.jpg" />
	</body>
</html>

